html {
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: 400; }
  html body {
    background-color: #fff;
    min-width: 320px; }

.hidden {
  display: none; }

a {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #c7b299;
    text-decoration: none; }

h1 {
  font-size: 34px;
  font-family: 'Raleway';
  font-weight: lighter; }

h2 {
  font-size: 6vmin;
  font-family: 'Raleway';
  font-weight: 900; }

h3 {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 600; }

p {
  font-family: 'Montserrat'; }

.btn-default {
  display: inline-block;
  background-color: #998675;
  padding: 18px 45px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 900;
  position: relative;
  color: #fff;
  border-bottom: 2px solid #736357;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }

.navbar-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 1200px) {
    .navbar-toggle {
      display: block; } }
  .navbar-toggle span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #fff; }
    .navbar-toggle span:nth-child(1) {
      top: 20%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .navbar-toggle span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.3s opacity ease;
      -o-transition: 0.3s opacity ease;
      transition: 0.3s opacity ease; }
    .navbar-toggle span:nth-child(3) {
      top: 80%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }
  .navbar-toggle.active span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #fff; }
    .navbar-toggle.active span:nth-child(1) {
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg); }
    .navbar-toggle.active span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: 0s opacity ease;
      -o-transition: 0s opacity ease;
      transition: 0s opacity ease; }
    .navbar-toggle.active span:nth-child(3) {
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg); }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(../img/header-photo.jpg);
  background-position: right;
  z-index: 1000; }
  .header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    z-index: -1; }
  .header .container {
    position: relative;
    height: 100%; }
  .header__top {
    padding-top: 40px; }
    .header__top__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header__top__logo a:hover {
        color: #ffffff; }
    @media screen and (max-width: 1200px) {
      .header__top__navbar {
        display: none;
        position: absolute;
        right: 0;
        top: 110px; } }
    .header__top__navbar ul.top_nav {
      margin: 0; }
      @media screen and (max-width: 1200px) {
        .header__top__navbar ul.top_nav {
          background-color: rgba(115, 99, 87, 0.8);
          padding: 10px 0; } }
      .header__top__navbar ul.top_nav .navbar__item {
        margin: 0 10px; }
        @media screen and (max-width: 1200px) {
          .header__top__navbar ul.top_nav .navbar__item {
            padding: 10px 0; } }
  .header .func .icon {
    cursor: pointer; }
    .header .func .icon.cart {
      width: 18px;
      height: 24px;
      background: url(../img/icon-cart.png); }
    .header .func .icon.search {
      width: 24px;
      height: 24px;
      background: url(../img/icon-search.png); }
  .header__slider {
    margin: auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    .header__slider .slider__slide {
      color: #fff;
      text-align: center; }
      .header__slider .slider__slide h2 {
        margin-top: 25px; }
      .header__slider .slider__slide p {
        margin-top: 30px; }
    .header__slider .header__btn {
      margin: 5vmin auto 0 auto; }
      .header__slider .header__btn:hover {
        color: #ffffff; }
