html {
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: 400; }
  html body {
    background-color: #fff;
    min-width: 320px; }

.hidden {
  display: none; }

a {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #c7b299;
    text-decoration: none; }

h1 {
  font-size: 34px;
  font-family: 'Raleway';
  font-weight: lighter; }

h2 {
  font-size: 6vmin;
  font-family: 'Raleway';
  font-weight: 900; }

h3 {
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 600; }

p {
  font-family: 'Montserrat'; }

.btn-default {
  display: inline-block;
  background-color: #998675;
  padding: 18px 45px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 900;
  position: relative;
  color: #fff;
  border-bottom: 2px solid #736357;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer; }

.navbar-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 1200px) {
    .navbar-toggle {
      display: block; } }
  .navbar-toggle span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #fff; }
    .navbar-toggle span:nth-child(1) {
      top: 20%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }
    .navbar-toggle span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.3s opacity ease;
      -o-transition: 0.3s opacity ease;
      transition: 0.3s opacity ease; }
    .navbar-toggle span:nth-child(3) {
      top: 80%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: 0.2s all ease;
      -o-transition: 0.2s all ease;
      transition: 0.2s all ease; }
  .navbar-toggle.active span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #fff; }
    .navbar-toggle.active span:nth-child(1) {
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg); }
    .navbar-toggle.active span:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: 0s opacity ease;
      -o-transition: 0s opacity ease;
      transition: 0s opacity ease; }
    .navbar-toggle.active span:nth-child(3) {
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg); }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(../img/header-photo.jpg);
  background-position: right;
  background-attachment: fixed;
  z-index: 1000; }
  .header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    z-index: -1; }
  .header .container {
    position: relative;
    height: 100%; }
  .header__top {
    padding-top: 40px; }
    .header__top__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header__top__logo a:hover {
        color: #ffffff; }
    @media screen and (max-width: 1200px) {
      .header__top__navbar {
        display: none;
        position: absolute;
        z-index: 999;
        right: 0;
        top: 110px;
        max-width: 340px; } }
    .header__top__navbar ul.top_nav {
      margin: 0; }
      @media screen and (max-width: 1200px) {
        .header__top__navbar ul.top_nav {
          width: auto;
          background-color: #a78257;
          padding: 10px 0;
          border-radius: 10px; } }
      .header__top__navbar ul.top_nav .navbar__item {
        margin: 0 10px; }
        @media screen and (max-width: 1200px) {
          .header__top__navbar ul.top_nav .navbar__item {
            width: 100%;
            padding: 10px 0;
            text-align: center; } }
  .header .func .icon {
    cursor: pointer; }
    .header .func .icon.cart {
      width: 18px;
      height: 24px;
      background: url(../img/icon-cart.png); }
    .header .func .icon.search {
      width: 24px;
      height: 24px;
      background: url(../img/icon-search.png); }
  .header__slider {
    margin: auto 0;
    text-align: center; }
    .header__slider .slider__slide {
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #fff;
      text-align: center; }
      .header__slider .slider__slide h2 {
        margin-top: 25px; }
      .header__slider .slider__slide p {
        margin-top: 30px; }
    .header__slider .slick-dots {
      position: absolute;
      bottom: -35vh; }
      .header__slider .slick-dots button::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #999;
        border-radius: 50%;
        opacity: 1;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
      .header__slider .slick-dots .slick-active button::before {
        content: "";
        width: 13px;
        height: 13px;
        border: 1px solid #e5d1be;
        background-color: transparent;
        border-radius: 50%;
        opacity: 1; }
    .header__slider .header__arrow {
      position: absolute;
      z-index: 9999;
      display: block;
      width: 40px;
      height: 60px;
      border: none;
      outline: none;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      background-color: transparent; }
      .header__slider .header__arrow:focus {
        outline: none; }
      .header__slider .header__arrow::before, .header__slider .header__arrow::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #e5d1be; }
      .header__slider .header__arrow.header__next {
        right: 0; }
        @media screen and (max-width: 992px) {
          .header__slider .header__arrow.header__next {
            right: -35px; } }
        @media screen and (max-width: 768px) {
          .header__slider .header__arrow.header__next {
            right: -55px; } }
        @media screen and (max-width: 640px) {
          .header__slider .header__arrow.header__next {
            display: none; } }
        .header__slider .header__arrow.header__next::before, .header__slider .header__arrow.header__next::after {
          top: 50%;
          left: 40px; }
        .header__slider .header__arrow.header__next::before {
          -webkit-transform-origin: 0;
          -ms-transform-origin: 0;
          transform-origin: 0;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
        .header__slider .header__arrow.header__next::after {
          -webkit-transform-origin: 0;
          -ms-transform-origin: 0;
          transform-origin: 0;
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }
      .header__slider .header__arrow.header__prev {
        left: 0; }
        @media screen and (max-width: 992px) {
          .header__slider .header__arrow.header__prev {
            left: -35px; } }
        @media screen and (max-width: 768px) {
          .header__slider .header__arrow.header__prev {
            left: -55px; } }
        @media screen and (max-width: 640px) {
          .header__slider .header__arrow.header__prev {
            display: none; } }
        .header__slider .header__arrow.header__prev::before, .header__slider .header__arrow.header__prev::after {
          top: 50%;
          right: 40px; }
        .header__slider .header__arrow.header__prev::before {
          -webkit-transform-origin: 100%;
          -ms-transform-origin: 100%;
          transform-origin: 100%;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
        .header__slider .header__arrow.header__prev::after {
          -webkit-transform-origin: 100%;
          -ms-transform-origin: 100%;
          transform-origin: 100%;
          -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }
    .header__slider .header__btn {
      margin: 5vmin auto 0 auto; }
      .header__slider .header__btn:hover {
        color: #ffffff;
        background-color: #b5a494; }
