html
	font-size: 14px
	font-family: 'Raleway'
	font-weight: 400
	body
		background-color: #fff
		min-width: 320px

a
	text-decoration: none
h1
	font-size: 34px
h2
	font-size: 52px
	font-family: 'Raleway'
	font-weight: 900
h3
	font-size: 36px
	font-family: 'Raleway'
	font-weight: 600
p
	font-family: 'Montserrat'
.btn-default
	display: inline-block
	background-color: #998675
	padding: 18px 45px
	border-radius: 5px
	font-size: 16px
	font-weight: 900
	position: relative
	color: #fff
	border-bottom: 4px solid #736357
	transition: 0.2s
	cursor: pointer
	&:hover
		border-bottom: 4px solid #998675
		background-color: #736357 





