@import url(https://fonts.googleapis.com/css?family=Raleway);
header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #ecf0f1;
}
header p {
  font-family: 'Raleway';
  font-size: 40px;
  padding: 40px 0;
}
.content {
  width: 970px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #bdc3c7;
}
.content .gall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .gall .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px;
  background-color: #fff;
  font-family: 'Raleway';
  font-size: 40px;
  line-height: 40px;
}
@media (min-width: 992px) {
  .content {
    width: 970px;
  }
  .content .box {
    width: 18%;
    padding: 9% 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .content {
    width: 750px;
  }
  .content .box {
    width: 32%;
    padding: 16% 0;
  }
}
@media (min-width: 540px) and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .content .box {
    width: 48%;
    padding: 24% 0;
  }
}
@media (min-width: 0px) and (max-width: 540px) {
  .content {
    width: 100%;
  }
  .content .box {
    width: 98%;
    padding: 49% 0;
  }
}
